/* Defaul CSS */
:root {
    --clrPrimary: #FEA301;
    --clrBlack: #111111;
    --clrBlue: #01ACFD;
    --clrWhite: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-style: normal;
}

body {
    font-size: 15px;
    font-weight: 400;
    background: #F7F7F7;
    color: #808080;
    line-height: 28px;
}

a {
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.clr-primary {
    color: var(--clrPrimary);
}

.clr-black {
    color: var(--clrBlack);
}

.clr-blue {
    color: var(--clrBlue);
}

.clr-white {
    color: var(--clrWhite);
}

.fw-bold {
    font-weight: 700;
}
.fw-medium {
    font-weight: 500;
} 

.bg-white {
    background: var(--clrWhite);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.grid {
    display: grid;
}
.btn {
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    line-height: 30px;
    width: 197px;
    height: 50px;
    color: var(--clrWhite)
}
.btn:hover {
    background: var(--clrPrimary) !important;
}

.section-title {
    font-size: 46px;
    line-height: 57.5px;
    margin-bottom: 80px;
    color: var(--clrBlack);
    text-align: center;
}
/* End default CSS */

/* Header */
.header {
    padding: 20px 0;
}
.site-brand span {
    font-size: 32px;
    line-height: 30px;
}

.site-brand {
    gap: 10px;
}

nav.navigation ul {
    list-style: none;
    gap: 32px;
    font-size: 20px;
    line-height: 30px;
}

nav.navigation li:nth-child(3) a {
    color: #05D4DF;
}

nav.navigation li:nth-child(4) a {
    color: #5D58EF;
}
.mobile-nav {
    display: none;
}

.header-btn {
    background: var(--clrPrimary);
}

.header-btn:hover {
    background: var(--clrBlack) !important;
}

/* Hero CSS */
.hero-content h1 {
    font-size: 56px;
    line-height: 61px;
    width: 580px;
}

.hero-content p {
    font-size: 20px;
}

.hero-content .btn {
    background: var(--clrBlack);
}

.hero-content {
    grid-gap: 24px;
    max-width: 640px;
}

/* Curriculum CSS */

.curriculum {
    background: url('../imgs/bg.png');
    background-size: cover;
    background-position: center top;
}
.curriculum .section-title {
    padding-top: 50px;
}

.single-card {
    justify-items: center;
    text-align: center;
    padding: 40px;
    grid-gap: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    border-radius: 19px;
}

.curriculum-cards {
    gap: 28px;
}

.single-card:nth-child(1) {
    background: linear-gradient(180deg, var(--clrBlue) -100%, var(--clrWhite) 24%);
}

.single-card:nth-child(2) {
    background: linear-gradient(180deg, var(--clrPrimary) -100%, var(--clrWhite) 24%);
}

.single-card:nth-child(3) {
    background: linear-gradient(180deg, #8700FF -100%, var(--clrWhite) 24%);
}

.single-card h3 {
    font-size: 24px;
    line-height: 30px;
}

.single-card p {
    font-weight: 500;
}

.single-card .readmore-btn {
    margin-top: auto;
    text-transform: capitalize;
}

.single-card .readmore-btn:hover {
    color: var(--clrBlack);
}

.single-card img {
    width: 138px;
    height: 138px;
    object-fit: contain;
}

.curriculum-angle {
    padding: 75px 0;
    gap: 10px;
}

.curriculum-angle span {
    height: 60px;
    width: 60px;
    background: var(--clrPrimary);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.curriculum-angle span:hover {
    background: var(--clrBlack);
}

.curriculum-angle span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent;
    border-top: 3px solid var(--clrWhite);
    border-left: 3px solid var(--clrWhite);
    top: 20px;
}
.curriculum-angle span.angle1::before {
    transform: rotate(-45deg);
    left: 24px;
}
.curriculum-angle span.angle2::before {
    transform: rotate(130deg);
    right: 24px;
}

.curriculum-angle span.angle1::before {
    transform: rotate(-45deg);
}


/* Story CSS */
.stories {
    background: url('../imgs/bg.png');
    background-size: cover;
    background-position: center top;
    position: relative;
}
.stories::before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, var(--clrPrimary) -140%, transparent 90%);
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.story-content {
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.story-box {
    border-radius: 16px;
    background: var(--clrWhite);
}

.story-box img {
    border-radius: 16px 16px 0 0;
    width: 100%;
}

.story-box time {
    padding: 12px 18px;
    color: var(--clrWhite);
    font-weight: 500;
    border-radius: 48px;
    position: relative;
    top: -20px;
    left: 38px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.story-left .story-box time {
    background: var(--clrBlue);
}

.story-right .story-box time {
    padding: 8px 12px;
}

.story-right .story-box time {
    background: var(--clrPrimary);
}

.story-right .story-box:nth-child(1) time {
    background: #95B226;
}

.story-right .story-box:nth-child(2) time {
    background: #5D58F0;
}
.story-right .story-box:nth-child(3) time {
    background: var(--clrPrimary);
}
.story-right .story-box:nth-child(4) time {
    background: var(--clrBlack);
}

.story-box time:hover {
    background: var(--clrPrimary) !important;
}

.story-inner-content {
    padding: 24px 35px;
}

.story-left .story-inner-content h3 {
    font-size: 24px;
    margin-bottom: 40px;
}

.story-right {
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
}

.story-right .story-box:nth-child(5), .story-right .story-box:nth-child(6) {
    display: none;
}

.story-right .story-box h3 {
    font-size: 15px;
}

.story-right .story-inner-content {
    padding: 0 35px 24px;
}

.story-btn .btn {
    background: var(--clrBlack);
}

.story-btn {
    padding: 80px 0 60px;
}


/* Footer CSS */
.footer {
    background: var(--clrBlue);
    padding: 124px 0;
}

.footer-content {
    grid-template-columns: 1fr 1fr;
}
.footer-left {
    grid-gap: 35px;
}

.footer-left p {
    max-width: 400px;
    font-size: 20px;
}

.widget-nav h4 {
    font-size: 24px;
    margin-bottom: 32px;
}

.footer-navs {
    gap: 10px;
}

.footer-navs a {
    font-size: 20px;
}

.footer-navs a:hover {
    color: var(--clrPrimary);
}

.footer-social {
    gap: 10px;
}

/* Mobile responsive CSS */
@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
    .header-btn,
    nav.navigation ul,
    .story-left,
    .site-brand span,
    .curriculum-angle {
        display: none;
    }
    .header {
        padding: 12px 0;
    }
    .mobile-nav span {
        background: var(--clrBlack);
        height: 2px;
    }
    
    /* Mobile nav CSS */
    .mobile-nav {
        display: flex;
        gap: 5px;
        cursor: pointer;
        width: 25px;
    }

    
    nav.navigation {
        position: relative;
    }
    nav.navigation ul {
        position: absolute;
        left: auto;
        right: -20px;
        min-width: 0vw;
        min-height: 0;
        background: var(--clrBlack);
        padding: 20px;
        transition: all 3s ease-in-out;
    }

    nav.navigation.show ul {
        display: block;
        min-height: 100%;
        min-width: 100vw;
        max-width: 100%;
    }
    
    
    
    .hero-wrap {
        flex-direction: column-reverse;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        gap: 18px;
    }
    .hero-content h1 {
        width: 100%;
    }
    
    .hero-content h1 {
        font-size: 32px;
        line-height: normal;
    }
    
    .hero-content p {
        font-size: 14px;
    }
    
    .btn {
        font-size: 16px;
        width: 141px;
        height: 42px;
        margin: 0 auto;
    }

    .section-title {
        font-size: 26px;
        line-height: normal;
        margin-bottom: 20px;
    }
    .single-card {
        padding: 36px 28px;
        grid-gap: 15px;
    }

    .single-card h3 {
        font-size: 17px;
        line-height: 20px;
    }

    .single-card p,
    .single-card .readmore-btn {
        font-size: 10px;
        line-height: 19px;
    }

    .single-card img {
        width: 93px;
        height: 93px;
    }

    .curriculum-cards {
        gap: 13px;
    }

    .stories {
        margin-top: 50px;
    }

    .story-right {
        grid-gap: 11px;
    }

    .story-right .story-box h3,
    .story-box time {
        font-size: 9px;
        line-height: 17px;
    }

    .story-box time {
        top: -25px;
        left: 23px;
        padding: 5px 10px !important;
    }

    .story-right .story-inner-content {
        padding: 0 23px 17px;
    }

    .story-inner-content {
        margin-top: -15px;
    }
    
    .curriculum-cards,
    .footer-right,
    .mobile-nav  {
        flex-direction: column;
    }
    
    .story-content {
        gap: 0;
    }
    
    .story-right .story-box:nth-child(5), 
    .story-right .story-box:nth-child(6) {
        display: block;
    }
    
    .story-btn {
        padding: 30px 0 50px;
    }
    
    .footer-content,
    .story-content {
        grid-template-columns: 1fr;
    }
    
    .footer-right,
    .footer-content {
        gap: 30px;
    }
    .footer {
        padding: 60px 0 40px;
    }
    .footer-left p {
        font-size: 16px;
    }
    .widget-nav h4 {
        font-size: 20px;
        margin-bottom: 22px;
    }
    .footer-navs a {
        font-size: 17px;
    }
    .footer-left {
        grid-gap: 15px;
    }
}