/* Defaul CSS */
:root {
    --clrPrimary: #FEA301;
    --clrBlack: #111111;
    --clrBlue: #01ACFD;
    --clrWhite: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-style: normal;
}

body {
    font-size: 15px;
    font-weight: 400;
    background: #F7F7F7;
    color: #808080;
    line-height: 28px;
}

a {
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.clr-primary {
    color: var(--clrPrimary);
}

.clr-black {
    color: var(--clrBlack);
}

.clr-blue {
    color: var(--clrBlue);
}

.clr-white {
    color: var(--clrWhite);
}

.fw-bold {
    font-weight: 700;
}
.fw-medium {
    font-weight: 500;
} 

.bg-white {
    background: var(--clrWhite);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.grid {
    display: grid;
}
.btn {
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    line-height: 30px;
    width: 197px;
    height: 50px;
    color: var(--clrWhite)
}
.btn:hover {
    background: var(--clrPrimary) !important;
}

.section-title {
    font-size: 46px;
    line-height: 57.5px;
    margin-bottom: 80px;
}
/* End default CSS */

/* Header */
.site-brand span {
    font-size: 32px;
    line-height: 30px;
}

.site-brand {
    gap: 10px;
}

nav.navigation ul {
    list-style: none;
    gap: 32px;
    font-size: 20px;
    line-height: 30px;
}

nav.navigation li:nth-child(3) a {
    color: #05D4DF;
}

nav.navigation li:nth-child(4) a {
    color: #5D58EF;
}
.mobile-nav {
    display: none;
}

.header-btn {
    background: var(--clrPrimary);
}

.header-btn:hover {
    background: var(--clrBlack) !important;
}

/* Footer CSS */
.footer {
    background: var(--clrBlue);
    padding: 124px 0;
}

.footer-content {
    grid-template-columns: 1fr 1fr;
}
.footer-left {
    grid-gap: 35px;
}

.footer-left p {
    max-width: 400px;
    font-size: 20px;
}

.widget-nav h4 {
    font-size: 24px;
    margin-bottom: 32px;
}

.footer-navs {
    gap: 10px;
}

.footer-navs a {
    font-size: 20px;
}

.footer-social {
    gap: 10px;
}

/* Mobile responsive CSS */
@media (max-width: 767px) {

}